@mixin size($w, $h) {
  height: $h;
  width: $w;
}

// --
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.set-size {
  font-size: 10em;
}

.charts-container:after {
  clear: both;
  content: '';
  display: table;
}

$bg: #34495e;
$size: 1em;

.pie-wrapper {
  @include size($size, $size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $size, $size, $size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: $size / 10 solid #3498db;
      border-radius: 50%;
      clip: rect(0, $size / 2, $size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    $font-size: $size / 4;
    $font-size-redo: $size * 4;

    background: $bg;
    border-radius: 50%;
    bottom: $font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $font-size;
    left: $font-size-redo / 10;
    line-height: $font-size-redo * @include 65;
    position: absolute;
    right: $font-size-redo / 10;
    text-align: center;
    top: $font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: @include 45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-1 {
    @include draw-progress(20, #3498db);
  }

  &.progress-2 {
    @include draw-progress(40, #9b59b6);
  }

  &.progress-3 {
    @include draw-progress(60, #e67e22);
  }

  &.progress-4 {
    @include draw-progress(80, #1abc9c);
  }

  &.progress-5 {
    @include draw-progress(75, #8e44ad);
  }
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }

  .label {
    background: transparent;
  }

  &.progress-65 {
    @include draw-progress--solid(65, #e67e22, $bg);
  }

  &.progress-25 {
    @include draw-progress--solid(25, #9b59b6, $bg);
  }

  &.progress-88 {
    @include draw-progress--solid(88, #3498db, $bg);
  }
}

// --
@mixin draw-progress($progress, $color) when ($progress <= 50) {
  .pie {
    .right-side {
      display: none;
    }
  }
}

@mixin draw-progress($progress, $color) when ($progress > 50) {
  .pie {
    clip: rect(auto, auto, auto, auto);

    .right-side {
      transform: rotate(180deg);
    }
  }
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      $rotate: $progress * 3.6;
      transform: rotate(~'${rotate}deg');
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg) when ($progress <= 50) {
  &:before {
    background: $bg;
    transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
  }
}

@mixin draw-progress--solid($progress, $color, $bg) when ($progress > 50) {
  &:before {
    background: $color;
    transform: rotate((100 - $progress) / 100 * 360deg);
  }
}

@mixin draw-progress--solid($progress, $color, $bg) {
  background: linear-gradient(to right, $color 50%, $bg 50%);
}
