@import '_score';

@import 'ember-paper';
@import 'settings';
@import 'foundation-sites/foundation';
@include foundation-everything;

body,
html,
body > .ember-view,
.grid-container,
.liquid-child,
.liquid-container,
.grid-y {
  width: 100%;
  height: 100%;
}

body {
  font-size: 13pt;
  letter-spacing: 0.025em;
  color: $white;
  font-family: 'Lato', sans-serif;
  background: #3985cf;
}

md-input-container.md-default-theme .md-input,
md-input-container .md-input {
  margin: 0;
}

blockquote {
  color: black;
}

.box {
  flex: 1;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;

  &_context {
    border: 1px solid white;
    padding: 2em;
    width: 70%;
    position: relative;
    max-height: 100%;
    overflow: auto;

    @media only screen and (max-width: 768px) {
      width: 90%;
      margin-top: 2em;
    }
  }

  &_button-container {
    display: flex;
    justify-content: space-between;
  }

  &_button--main {
    margin: 0;
    background-color: #ffffff;
    color: #4696e5;
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 6px;
    border: 0;
    font-weight: bold;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: #fefefe;
      border-bottom-color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    }
  }

  &_title {
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
  }

  ul {
    li {
      a {
        color: #b0b0b0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer {
  background-color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #b0b0b0;
  font-size: 12px;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
