<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q1. Gender</h1>
    <h4>What is your gender?</h4>
    {{#paper-radio-group groupValue=(readonly model.gender) onChange=(pipe-action (action (mut model.gender)) (route-action 'save' 'gender')) as |group|}}
      {{#group.radio value="male"}} Male {{/group.radio}}
      {{#group.radio value="female"}} Female {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
