<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q10. Diligent</h1>
    <h4>I am diligent. I never give up.</h4>
    {{#paper-radio-group groupValue=(readonly model.diligent) onChange=(pipe-action (action (mut model.diligent)) (route-action 'save' 'diligent')) as |group|}}
      {{#group.radio value=5}} Very much like me {{/group.radio}}
      {{#group.radio value=4}} Mostly like me {{/group.radio}}
      {{#group.radio value=3}} Somewhat like me {{/group.radio}}
      {{#group.radio value=2}} Not much like me {{/group.radio}}
      {{#group.radio value=1}} Not like me at all {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
