<section class="box">
  <div class="box_context">
    <h1 class="box_title">11. Obbsessed</h1>
    <h4>I have been obbsessed with a certain idea or project for a short time but later lost interest.</h4>
    {{#paper-radio-group groupValue=(readonly model.obsessedButGaveUp) onChange=(pipe-action (action (mut model.obsessedButGaveUp)) (route-action 'save' 'obsessedButGaveUp')) as |group|}}
      {{#group.radio value=1}} Very much like me {{/group.radio}}
      {{#group.radio value=2}} Mostly like me {{/group.radio}}
      {{#group.radio value=3}} Somewhat like me {{/group.radio}}
      {{#group.radio value=4}} Not much like me {{/group.radio}}
      {{#group.radio value=5}} Not like me at all {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
