<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q12. Challenges</h1>
    <h4>I have overcome setbacks to conquer an important challenge.</h4>
    <div>Rating 1 - 5. <strong>Where 5 is highly like me and 1 is nothing like me.</strong></div>
    <div class="layout layout-align-center-center slider-container">
      <span>1</span>{{paper-slider class="flex" primary=true discrete=true value=model.overcomeSetBacks step=1 min=1 max=5 onChange=(pipe-action (action (mut model.overcomeSetBacks)) (route-action 'save' 'overcomeSetBacks'))}}<span>5</span>
    </div>

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
    </div>
  </div>
</section>
