<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q14. Extra curricular</h1>
    <h4>Do you do any courses or work outside of your day job?</h4>

    {{#paper-radio-group groupValue=(readonly model.extraCourses) onChange=(pipe-action (action (mut model.extraCourses)) (route-action 'save' 'extraCourses')) as |group|}}
      {{#group.radio value=true}} Yes {{/group.radio}}
      {{#group.radio value=false}} No {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
