<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q15. Hours</h1>
    <h4>If your boss asks you to stay late and do some extra work, how likely are you too agree?</h4>

    {{#paper-radio-group groupValue=(readonly model.workExtraHours) onChange=(pipe-action (action (mut model.workExtraHours)) (route-action 'save' 'workExtraHours')) as |group|}}
      {{#group.radio value=5}} Very much like me {{/group.radio}}
      {{#group.radio value=4}} Mostly like me {{/group.radio}}
      {{#group.radio value=3}} Somewhat like me {{/group.radio}}
      {{#group.radio value=2}} Not much like me {{/group.radio}}
      {{#group.radio value=1}} Not like me at all {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
