<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q3. Ideas and Projects</h1>
    <h4>New ideas and projects sometimes distract me from previous ones.</h4>
    {{#paper-radio-group groupValue=(readonly model.newIdeasDistractMe) onChange=(pipe-action (action (mut model.newIdeasDistractMe)) (route-action 'save' 'newIdeasDistractMe')) as |group|}}
      {{#group.radio value=1}} Very much like me {{/group.radio}}
      {{#group.radio value=2}} Mostly like me {{/group.radio}}
      {{#group.radio value=3}} Somewhat like me {{/group.radio}}
      {{#group.radio value=4}} Not much like me {{/group.radio}}
      {{#group.radio value=5}} Not like me at all {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
