<section class="box">
  <div class="box_context">
    <h1 class="box_title">Q7. Focus</h1>
    <h4>I have difficulty maintaining mu focus on projects that take more than a few months to complete.</h4>
    {{#paper-radio-group groupValue=(readonly model.difficultMaintainingFocus) onChange=(pipe-action (action (mut model.difficultMaintainingFocus)) (route-action 'save' 'difficultMaintainingFocus')) as |group|}}
      {{#group.radio value=1}} Very much like me {{/group.radio}}
      {{#group.radio value=2}} Mostly like me {{/group.radio}}
      {{#group.radio value=3}} Somewhat like me {{/group.radio}}
      {{#group.radio value=4}} Not much like me {{/group.radio}}
      {{#group.radio value=5}} Not like me at all {{/group.radio}}
    {{/paper-radio-group}}

    <div class="box_button-container">
      <button {{action (route-action "previous")}} class="button box_button--main">Previous</button>
      <button {{action (route-action "next")}} class="button box_button--main">Next</button>
    </div>
  </div>
</section>
