<section class="box">
  <div class="box_context">
    <h1 class="box_title">Results</h1>
    <h4>Your grit score is...</h4>
    <h2>{{model.gritScore}}</h2>
    <div class="pie-wrapper progress-95 style-2">
      <span class="label">95<span class="smaller">%</span></span>
      <div class="pie">
        <div class="left-side half-circle"></div>
        <div class="right-side half-circle"></div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
</section>
