<section class="box">
  <div class="box_context">
    <h1 class="box_title">Grit</h1>
    <p>[noun] courage and resolve; strength of character.</p>
    <p>
      <blockquote>Grit has been found to be the defining characteristic in predicting success. Not looks, IQ or physical health but grit. Grit is passion and perseverence for long-term goals. Grit is sticking with your future day in and day out.
      <p>- Angela Duckworth</p>
      </blockquote>
    </p>
    <p>
      This questionnaire allows you to find out how gritty you are and aids in valuable research. It is around 15 questions long and should only take 10 minutes.
    </p>
    <div class="box_button-container">
      <a href="about.html" class="button box_button--main">Start</a>
    </div>
  </div>
</section>
