<section class="box">
  <div class="box_context">
    <h1 class="box_title">Grit</h1>
    <p>[noun] courage and resolve; strength of character.</p>
    <p>
      <blockquote>Grit has been found to be the defining characteristic in predicting success. Not looks, IQ or physical health but grit. Grit is passion and perseverence for long-term goals. Grit is sticking with your future day in and day out.
      <p>- Angela Duckworth</p>
      </blockquote>
    </p>
    <p>
      This questionnaire allows you to find out how gritty you are and aids in valuable research.
    </p>

    <div class="box_button-container button--center">
      {{#link-to "info" class="button box_button--main"}}
        To the quiz!
      {{/link-to}}
    </div>
  </div>
</section>
