<section class="box">
  <div class="box_context">
    <h1 class="box_title">The Quiz</h1>
    <p>
      There will be a number of statements that may or may not apply to you. There are no right or wrong answers, so just answer honestly, considering how you compare to most people. At the end, you’ll get a score that reflects how passionate and persevering you see yourself to be.
    </p>

    <p>
      Don't overthink the questions. Instead, just ask yourself how you compare to "most people".
    </p>
    <div class="box_button-container button--center">
      <button {{action "start"}} class="button box_button--main">Start</button>
    </div>
  </div>
</section>
