<section class="box">
  <div class="box_context">
    <h1 class="box_title">Learn More</h1> A lot of grit research has been conducted by Angela Duckworth. If you would like to learn more I'd thoroughly recommend the following resources:
    <br />
    <br />
    <ul>
      <li>
        Guardian interview with Angela. <a href="https://www.theguardian.com/lifeandstyle/2016/may/07/is-grit-the-true-secret-of-success" target=_blank rel=noopener>Link.</a>
      </li>
      <li>
        TED talk on grit. <a href="https://www.ted.com/talks/angela_lee_duckworth_grit_the_power_of_passion_and_perseverance?language=en" target=_blank rel=noopener>Link.</a>
      </li>
      <li>
        Book on the power of grit. <a href="https://www.guardianbookshop.com/catalog/product/view/id/385275/?utm_source=editoriallink&utm_medium=merch&utm_campaign=article" target=_blank rel=noopener>Link.</a>
      </li>
    </ul>
  </div>
</section>
