<section class="box">
  <div class="box_context">
    <h1 class="box_title">Purpose</h1>
    <p>
      There are two reasons for this questionnaire. <br />1. I (Bradley) read a book on grit and I was genuinely interested in it and wanted to find out more.<br />2. I need to pass my research methods course and I need data for it!
    </p>
  </div>
</section>
